@model IEnumerable<Lab1.Models.SACH>

@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Thông tin chi tiết</h1>
    @foreach (var a in Model)
    {
       <div style="display: flex">
           <a href="@Url.Action("ChiTiet","Home", new { id = a.Masach })" )><img style="width:120px; height:120px" src="~/Content/images/@a.Anhbia" /></a>
           <div>
               <h3 style="color:red;"> Tên sách: @a.Tensach</h3>
               <p>Mô tả: @a.Mota</p>

               <p style="color: red;">@a.Giaban đ</p>
               <button style="background-color: red"> Đặt mua.</button>
           </div>
       </div>
    }
