﻿@model IEnumerable<Lab1.Models.CHUDE>

@foreach (var item in Model)
{
    <div>
        <a href="@Url.Action("itemChuDe","Home", new {id = item.MaCD})" class="list-group-item">@item.TenChuDe</a>
    </div>
}