﻿@model IEnumerable<Lab1.Models.NHAXUATBAN>

@foreach (var item in Model)
{
    <div>
        <a href="@Url.Action("itemNXB","Home", new {id = item.MaNXB})" class="list-group-item">@item.TenNXB</a>
    </div>
}